@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F2F2F2;
  --foreground: #000000;
  --primary: #202A4E;
  --secondary: #F2F2F2;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
